---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: manager-role
rules:
- apiGroups:
  - rotation.security.io
  resources:
  - rotations
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - rotation.security.io
  resources:
  - rotations/finalizers
  verbs:
  - update
- apiGroups:
  - rotation.security.io
  resources:
  - rotations/status
  verbs:
  - get
  - patch
  - update
